
/* 
    Document   : iblack.css
    Created on : 06.07.2011, 10:17:31
    Author     : snowing
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    background-color:black;
}

#iscroll{
    /*background-color:white;*/
    background-color: black;
}

div#header{
    background-color:black;
}

#back_button{
    color:white;
}

#menu_button {
    color:white;
}

div a#logo-title{
    color:white;
}

.bar {
    background-color:black;
    border:1px solid #111;
}

.bar .button{
    color:white;
}

#submit_button{
    color:black;
}

ul {
    color: black;
    background: #fff;
}

ul li {
    color: #666;
    border-top: 1px solid #B4B4B4;
}

ul#home li:hover{
    background-color:#E0E0DD;
}

#TenMore{
    background-color:#E0E0DD;
}

.href_li,.href_li:visited,.href_li:active{
    color:#124;
}

.text{
    color:#111;
}

.poster{
    color:#111;
}

.info_text{
    color:black;
}

.footer_ten,.footer_ten:active{
    color:black;
}

#footer{
    background-color:black;
    color:white;
    
}

#footer a,#footer a:active,#footer a:visited{
    color:white;
    
}
