/* 
    Document   : mobile.css
    Created on : 07.07.2011, 10:38:30
    Author     : snowing
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


body {
    font-family: Helvetica;
    margin:0;
    padding: 0 0 0 0;
    height:100%;
    width:100%;
    position:absolute;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}


div#header{
    height:45px;    
    width:100%;     
    text-align:center;
    position: relative;
    margin:0;
    top:0;
    left:0;
    z-index:100;
    overflow:visible;
}

div #footer{
    text-align: center;
    padding: 10px 0;
    font-size:1em;
    line-height:1.4em;
}
#iscroll{    
    top:0px;
    width: 100%;
    position: relative; 
    
}

#Scroller{    
    height:auto;    
    position:relative;
}
#nextScreen{
    height:auto;
}





#logo-icon{
    top:0;
    float:left;
    height:30px;
    left:9px;
    margin:8px 6px 0;
    width:30px;
}

#back_button{
    float:left;
    left: 10px;
    height:30px;
    position: absolute;
    
    text-decoration:none;
    font-size:32px;
    line-height:41px;
    font-weight:900;
    z-index:1000;
    display:none;
}


#menu_button{
    float:right;
    margin:7px 10px 0;
    border:1px solid white;
    padding:4px 3px;
    text-decoration: none;
}

#menu-icon{
    float:left;
    height:30px;
    width:30px;
}

div a#logo-title{
    font: 25px "Helvetica-Bold",Helvetica,Geneva,Arial,sans-serif;    
    text-decoration: none;
    overflow:visible;
    line-height:41px;    
    margin: auto;   
    position:relative;
    white-space:nowrap;
    letter-spacing: -1px;

}

.bar {
    margin:0;
    padding:7px 8px;
    width:auto;    
    text-align:left;
    clear:left;
}

.barA{
    margin:0;
    padding:7px 8px;
    width:auto;    
    text-align:left;
    clear:left;
}



.bar input#search-input {
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    padding-top:45px;

    font-weight: bold;
    margin:auto;
    padding: 5px;
    text-align: left;
    width: 90%;
}

.bar .button {
    padding:0 10px;

    font: 19px "Helvetica-Bold",Helvetica,Geneva,Arial,sans-serif;
    text-align:left;
}


ul {
    /* border-top: 1px solid #B4B4B4;*/
    font: bold 17px Helvetica;
    padding: 0;
    margin:0;
    /*    margin: 15px 10px 17px;
        -webkit-border-radius: 8px;*/
}

ul li{
    list-style-type: none;
    clear:left;
}


#home li {
    list-style-type: none;
    padding: 2px 4px;
    clear:left;
  /* min-height:77px; */       
}

#home li.genre_li{
    /* min-height:0; */
}


/* when you have a first LI item on any list */

li:first-child {
    /*  border-top: 0;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px; */
}

li:last-child {
    /* -webkit-border-bottom-left-radius: 8px;
     -webkit-border-bottom-right-radius: 8px; */
}

.genre_li{    
    font-size:1.2em;
}
.genre_li a {
    padding: 10px 2px;
    margin:0;
}

.info_text {
    font-size: 14px;
    padding: 0.3em;
    margin:0;
}

.poster{
    font-size:12px;
    float:left;
    padding:2px 15px 2px 0;    
}
.imdb{
    font-size:0.8em;
    font-style: italic;
}

.form li{
    text-align: center;    
}

.form li input{
    width:98%;
    border:0 none;
    padding:2px 5px;
    margin-left:0;    
    text-align:left;
}

.form p {
    text-align: center;
    margin:0;
    padding:4px 5px;
    font-size:1.5em;
    border-top: 1px solid #B4B4B4;
}

#submit_button{
    border: 0 none;
    background:none;
    font-size:24px;
}

.news_content img{
    margin:0 15px;
}

#loginform input    {
    font-size:1.5em;
}

.clearfix{
    clear: both;  content: ".";  display: block;  height: 0;  visibility: hidden;
}

#nextScreen {
    display:none;
    -webkit-animation:'slide' 10s easy-in 3s 2 alternate;
}

.href_li{
    display:block;
    text-decoration: none;
    width:100%;   
}

li.videoinfo{
    padding:5px;
}


#carousel{
    margin:0;
    padding:0;
    width:100%;
    overflow:hidden;
    height:70%;
    top:10%;
}
#mycarousel {
    margin:0;
    padding:0;
    width:400%;
    overflow: visible;
}
#mycarousel li {
    float:left;
    width:23%;
    padding:0 1%;
    margin:0;
    height:80%;
    clear:none;

}    
#mycarousel li.active{

}


.footer_ten{
   padding:20px 5px ;   
   display:block;
}

#search-input{
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    font-weight: bold;
    margin:auto;
    padding: 5px;
    text-align: left;
    width:90%;


}

#TenMoreError span{
    display:block;
    margin:4px 6px;
}