#block_main{
    width:95%;
    height:100%;
    margin:36px 30px 50px 38px;
    border:0;
    position:relative;
    overflow:hidden;   padding-top:15px; padding-left:15px;
    background-color:white;
}

#block_m_top{
    background-color: white;
}

#main_inner{
    
    background-color: white;
    width:910px;
    height:720px;
    margin:10px auto 10px;
    overflow: hidden;
}
/*TV SET PROFILE*/
div.SmartFrame
		{
			width: 100%;
		}
		div.ClearClass
		{
			float: none;
			clear: both;
		}
		div.Frame_Top
		{
			height: 48px;
			background-image: url('/img/main/1/tv/left_top_verx.png');
			background-position: top top;
			background-repeat: repeat-x;
            
			margin-left: 8px;
			margin-right: 8px;
		}
		div.Frame_LeftTop
		{
			float: left;
			margin-left: -10px;
            
			background-image: url('/img/main/1/tv/left_top_tv.png');
			width: 53px;
			height: 318px;
            position: absolute;            
            
		}
		div.Frame_RightTop
		{
			margin-right: -8px;
			float: right;
			background-image: url('/img/main/1/tv/right_top_tv2.png');
            
			width: 66px;
			height: 312px;
		}
		div.Frame_Content
		{
		width:100%;
        height: 500px;
        margin-left: 40px;
        text-align: justify;
        padding-left: 15px;
        vertical-align: top;
        
		}
		div.Frame_Left
		{
			background-image: url('/img/main/1/tv/left_center_tv.png');
			background-repeat: repeat-y;
            margin-left: -2px;
            margin-top: -15px;
            padding-top: 10px;
            
		}
		div.Frame_LeftGradient
		{
			background-image: url('/img/main/1/tv/left_center_tv.png');
			width:38px;
			float: left;
            
		}
		div.Frame_Right
		{
			background-image: url('/img/main/1/tv/right_center_tv.png');
			background-repeat: repeat-y;
			background-position: right top;
			margin-left: 8px;
            
		}
		div.Frame_RightGradient
		{
			background-image: url('/img/main/1/tv/right_center_tv.png');
			width: 47px;
			
			float: right;
		}
		div.Frame_Bottom
		{
			margin-left: 45px;
			margin-right: 48px;
			background-image: url('/img/main/1/tv/right_bottom_niz_tv2.png');
            
			height: 52px;
            
		}
		div.Frame_LeftBottom
		{
			margin-left: -47px;
            margin-top: -107px;
			background-image: url('/img/main/1/tv/left_bottom_tv.png');
			float: left;
			width: 58px;
			height: 161px;
		}
		div.Frame_RightBottom
		{
			margin-right: -48px;
            margin-top: -124px;
			background-image: url('/img/main/1/tv/right_bottom_tv2.png');
			width: 56px;
			height: 178px;
			float: right;
		}
        div.tv_label
		{
		    background-image: url('/img/main/1/tv/center_bottom_tv.png');
            background-repeat: no-repeat;
			text-align:center;
            height: 116px;
            width:769px;
            margin: -52px auto;
            
		}

#block_right{
    background-color: white;
}

#block_top{
    margin:0;
    top:0;
    position:relative;
    background-image:url('/img/main/1/block_top.png');
    background-repeat:repeat-x;
    height:65px;
    width:100%
}

#block_middle{
/*    background-color:#eee;*/
}

#siteTitle{
    font-size:20px;
    color:white;
    padding-top:20px;
    padding-left:20px;
    display: block;
}

.user_actions a{
    text-decoration: none;
    line-height: 16px;
}

#Snow_menu  {height:135px; background-color: white; width:100%;}
#Snow_menu .menu_active { font-weight:bold;}

#Snow_menu li { list-style:none; display:inline; }
#Snow_menu li.menu { font-size: 16px; line-height:32px;}
#Snow_menu .submenu {font-size:12px; background-color:white; padding: 10px 10px 3px 0;}
#Snow_menu ul li ul{ display:none;}
.submenu{

    position:absolute;
    margin:0;
    text-align: center;
}
#Snow_menu ul li ul li{
    list-style:none;
    display:block;
    float:left;
}

.info_image{ width:65px; height:48px;display:block;}
.submenu a{ display:block;}
/*navigation under TV*/
#navigation_tv { width:830px; vertical-align: middle; padding-left: 55px;margin:-126px auto 80px; position: relative; z-index: 50;}
/*in navigation numbers*/
#navigation_numbers {float:left;width:100px;}
#icon_r_arrow { float:right;}
#icon_refresh { margin-left: 100px; margin-bottom: 2px;}
.icon_list { margin-left: 10%;margin-right: 5px;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); border: 0; }
.icon_eskiz { padding-left: 5px; border-left: 2px solid #000;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); border: 0;}
.icon_number6 { padding-bottom: 7px; margin-left: 45%;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
.icon_number9 { padding-bottom: 7px; margin-left: 5px;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}  
.icon_number12 { padding-bottom: 7px; margin-left: 5px;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
.icon_number24 { padding-bottom: 7px; margin-left: 5px;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
.currentTvIcon { opacity: 1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); }

/*vxodyachue sms*/

#im_menu { width: 86%; padding: 0; position: relative; height: 38px; margin: 0;}
#im_menu ul {list-style:none;margin:0;padding:0; height: 31px;}
#im_menu li {float:left; background-color: #fff; border: 1px solid #74ADE7;  border-left: 0; padding: 0;}
#im_menu li a{color:#666666;display:block;font-weight:bold;line-height:23px;padding: 5px 3px 2px 3px;text-align:left;text-decoration:none;}
#im_menu li a:hover {color:#000000;text-decoration:none; background-color: #E4E8FC;}
#im_menu .current{color: #535353;  background-color: #C0CFFA;}
#im_in { width:85.5%; border: 1px solid #74ADE7; height: 435px; vertical-align: top;  margin:0; padding: 0;overflow-x:hidden;overflow: hidden;}
#im_in_border { float:left; border-bottom: 1px solid #74ADE7;width:99%; height: 60px; vertical-align: top;  padding: 6px; }
#im_in_border:hover { background: #EAF2FB;}
#im_in_avatar {float:left; width:50px; vertical-align: middle;height:50px; padding-left: 5px;}
#im_in_login_time {float:left;height:50px;padding: 0 10px 0 10px; width:150px;}
#im_in_login, #im_in_time {float:left;width:100%;text-align: center;}
#im_in_theme, #im_in_short_text {float:left;width:90%;text-align: left;}
#im_in_time { font-size: 9px; color: #5F5F5F;}
#im_in_theme_text {float:left;height:50px;padding: 0 0 0 20px; width: 62%;}
#im_in_check_box {float:left; width: 9%; vertical-align: middle; padding-left: 5px;}
#im_in_navigation {width: 550px; margin: 7px auto;   background-image: url('/img/im_in_nav.png'); background-repeat: no-repeat;}
#im_in_navigation_href {padding-left:195px;}

/*polnaya novost*/
#im_in_full {width:82%; border: 1px solid #74ADE7; height: 430px; vertical-align: top;  margin:0; padding: 10px;overflow-x:hidden;overflow: hidden;}
#im_in_full_forma {float:left; width: 100%;}
#im_in_login_time_full {float:left;height:50px; width:85%;}
#im_in_time_full { font-size: 8px; padding-left: 8px;}
#im_in_login_full, #im_in_time_full {float:left;width:100%;text-align: center; }
#im_in_login_full {border-bottom: 1px solid #ccc; padding-left: 10px;}
#im_in_avatar_full {float:left; width:70px; vertical-align: middle;height:70px; padding-left: 5px;}
#im_in_theme_full {clear:right;}
#im_in_theme_full, #im_in_short_text_full {float:left;width:98%;text-align: left;}
#im_in_short_text_full  {padding:5px; padding-bottom: 50px;}
/*knopki*/
#im_in_but {background-color: #D2D3F9; border: 0; cursor: pointer;}
/*special for firefox*/
@-moz-document url-prefix() {
  #im_menu { width: 85.7%;}
}

#im_menu_nav{
    float: left;
}
#im_menu_act{
    float: right;
}