
#block_top{
    min-height:30px;
    width:100%;

}


#block_middle{
    width:100%;
}

#block_right{
    float:right;
    clear:right;
    width:25%;
    min-height:10px;
    padding:0;
    margin:0;

}

#block_main{
    margin-top:10px;
    /*clear:left;*/
    float:none;
    /*    position:absolute; */
    position:relative;
    width:70%;
    padding:2px 5px;
    margin:10px 15px 5px;
    border:5px double black;
    word-wrap: break-word;
    z-index:1;
}

#block_mid{
    width:75%;
    margin:0px;
    padding:0px;
}

/*#block_main *{ z-index: 1;}*/

#block_middle:after{clear: both;  content: ".";  display: block;  height: 0;  visibility: hidden;}
#block_main:after{clear: both;  content: ".";  display: block;  height: 0;  visibility: hidden;}

.b_r_item{
    border:1px solid #ccc;
    margin:2px;
    padding:5px 5px;
}


/*#showdown_menu:after{clear: left;  content: ".";  display: block;  height: 0;  visibility: hidden;}*/

#showdown_menu{
    height:30px;
}
#showdown_menu ul {
    z-index:10;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}


#showdown_menu ul li {
    position: relative;float:left;
    margin: 0;
    padding: 0;
    z-index:11;
}

#showdown_menu a.inactive{
    background-color:#aaa;
}

#showdown_menu ul li a img{
    float:right;
}

#showdown_menu li ul {
    position:absolute;
    clear:left;
    display: none;
    border-top:0;
    background-color: black;
    float:left;
    z-index: 100;
    /*border:1px solid black;*/
}
#showdown_menu li ul li{
    clear:left;
}

#showdown_menu li ul li ul{
    z-index: 1000;
    clear:none;
    position:absolute;
    left:160px;
    top:5px;
    float:right;
    /*border:1px inner blanchedalmond;*/
}

#showdown_menu li ul li ul a{
    background-color:#EEF;
}
#showdown_menu li ul li a{
    background-color: #EFF;
}

#showdown_menu a.menu_active{
    background-color:red;
}

/* Styles for Menu Items */
#showdown_menu ul li a {    
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff;
    padding: 5px;
    width:150px;
    border-bottom: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
}

/* Profile*/

.editable_l li {clear:left;}
.editable_l span{ width:100px; float:left;}
.editable_l span.e_val {width:200px;}
.h_save{ display:none;}
.editable_l input {display:none; width:198px;}
.adition_ch {display:none;clear:left;}
.adition_ch input {display:inline;}

/* FilmList */

.movies .moviePreviewWrapper{
    height:auto;
    margin-bottom:5px;
    margin-top:5px;
}